doctype html
html(lang='en')
  include common/header.pug
  +header("Starter")
  body
    h1 Albanian
    p #{Albanian.email}
    a(href="/Albanian/" + Albanian.id + "/edit") Edit
    form(action='/Albanian/' + Albanian.id + '/delete', method="POST")
      button(type='submit') Delete
    include common/footer.pug
    +footer()
